# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# OS files
Thumbs.db
.DS_Store

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment files
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Data (if you prefer not to commit big exports)
# data/*.json
